.entry__banner {
    box-shadow: inset 0px -98px 29px -43px rgba(0, 0, 0, 0.25);
    img {
        position: relative;
        z-index: -2;
        width: 100%;
    }
}
.entry__block {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 1fr;
}
.entry__imageblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
    top: -30px;
    img {
        width: 180px;
        height: 250px;
        box-shadow: 1px 0px 39px 3px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        margin-bottom: 10px;
    }
    button {
        width: 180px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.entry__description {
    margin-top: 30px;
    color: white;
    font-family: 'Raleway', sans-serif;
    span {
        font-size: 20px;
        font-weight: bold;
    }
    div {
        padding-top: 40px;
        font-size: 15px;
    }
}
.entry__short {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    p {
        margin-top: 15px;
    }
    p:first-child {
        margin-top: 0;
    }
}
.entry__wrapper {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    background-color: rgba(250, 235, 215, 0.096);
    width: 180px;
    color: white;
    padding: 15px 15px;
}
.airing {
    color: rgb(188, 188, 248);
}
.entry__info {
    padding-top: 100px;
}
.entry__card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.entry__actor {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    padding-bottom: 20px;
    img {
        height: 130px;
        width: 100px;
        border-radius: 5px;
        box-shadow: 1px 0px 39px 3px rgba(126, 236, 255, 0.25);
    }
    span {
        margin-top: 7px;
    }
}