.card {
    display: flex;
    padding-top: 100px;
    color:white
}
.card__left {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    img {
        max-width: 150px;
    }
}
.mainpage__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: white;
}
.mainpage__card {
    margin-top: 15px;
    display: flex;
}
.mainpage__imagecard {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    width: 220px;
    height: 280px;
    transition: all .2s ease-in-out;
    img {
        margin: 10px;
        width: 200px;
        height: 280px;
        margin-bottom: 6px;
        cursor:pointer;
        border-radius: 10px;
        transition-duration: 0.3s;
    }
    img:hover {
        transition-duration: 0.3s;
        transform: scale(1.02);
    }
    span {
        font-family: 'Patrick Hand SC', cursive;
        font-size: 15px;
    }
}
