header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 20px;
    img {
        max-width: 300px;
        transition: all .1s ease-in-out;
        transition-duration: 0.3s;
    }
    img:hover {
        transition-duration: 0.2s;
        transform: scale(1.02);
    }
    div {
        display: flex;
        align-items: center;
        button {
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;  
            padding-left: 15px; 
            img {
                width:25px;
            }
        }
    }
}
.header__img {
    width: 35px;
}
.header__option {
    margin-right: 100px;
    transition: all .1s ease-in-out;
}
.header__option:hover {
    transform: scale(1.04);
}
.search__form {
    position: relative;
    input {
        width: 200px;
        height: 30px;
    }
}
.autocomplete {
    position: absolute;
    list-style: none;
    width: 100%;
    background: white;
    box-shadow: 1px 1px 5px black;
    z-index: 10;
    height: auto;
    overflow: auto;
    max-height: 200px;
}
.autocomplete__item {
    padding: 10px;
}
.autocomplete__item:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
    transition: cubic-bezier(1, 0, 0, 1) .2s all;
}