header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 20px;
    img {
        max-width: 300px;
        transition: all .1s ease-in-out;
        transition-duration: 0.3s;
    }
    img:hover {
        transition-duration: 0.2s;
        transform: scale(1.02);
    }
    div {
        display: flex;
        align-items: center;
        button {
            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;  
            padding-left: 15px; 
            img {
                width:25px;
            }
        }
    }
}
.header__img {
    width: 35px;
}
.header__option {
    margin-right: 100px;
    transition: all .1s ease-in-out;
}
.header__option:hover {
    transform: scale(1.04);
}