.card__wrapper {
    padding-top: 100px;
}
.card {
    font-family: 'Roboto', sans-serif;
    padding: 40px;
    display: flex;
    color:white;
    background: radial-gradient(114.31% 261.89% at 0% 0%, #ff0000a4 0%, rgba(141, 0, 0, 0) 85%);
}
.card__left {
    display: flex;
    flex-direction: column;
    padding-right: 50px;
    img {
        width: 180px;
        height: 240px;
        border-radius: 4px;
        box-shadow: 1px 0px 39px 3px rgba(32, 6, 4, 0.404);
    }
    p {
        color: #ADADAD;
        font-size: 14px;
    }
    
}
.status {
    position: relative;
    span {
        position:absolute;
        top: -40px;
        right: 100px;
        background: rgba(231, 83, 83, 0.397);
        text-align: center;
        text-transform: capitalize;
        font-size: 14px;
        padding: 10px;
        border-radius: 0px 0px 15px 15px;
    }
}



.card__right {
    h2 {
        font-size: 30px;
        margin-bottom: 30px;
    }
}
.card__image {
    position: relative;
    span {
        position: absolute;
        top: 205px;
        left: 5px;
        font-weight: 900;
        font-size: 17px;
        background: #89C939;
        border-radius: 6px;
        padding: 5px;
    }
}

.listpage__filter {
    display: flex;
    align-items: center;
}
.filter {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    line-height: 14px;
    cursor: pointer;
    img {
        margin-right: 5px;
    }
}
.filter:hover {
    background-color: rgb(255, 255, 255);
}
.listPage__filterimg {
    margin-right: 10px;
}
.filterbutton {
    margin-right: 20px;
}
.listpage__menu {
    button {
        width: 60px;
        color: white;
    }
}