
.mainpage__title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: white;
}
.mainpage__card {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 400px;
}
.mainpage__imagecard {
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
    transition: all .2s ease-in-out;
    img {
        margin: 8px;
        width: 210px;
        height: 290px;
        margin-bottom: 6px;
        cursor:pointer;
        border-radius: 10px;
        transition-duration: 0.3s;
    }
    img:hover {
        transition-duration: 0.3s;
        transform: scale(1.02);
    }
    span {
        font-family: 'Patrick Hand SC', cursive;
        font-size: 15px;
        cursor: pointer;
    }
}
.mainpage__imagecard:hover {
    span {
        color:rgb(204, 204, 204)
    }
}
.mainpage__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainpage__view {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
    color: rgb(231, 231, 231);
    cursor: pointer;
    text-decoration: none;
}
.mainpage__view:hover {
    color:rgb(177, 177, 177);
}
.paginator__pagebar {
    display: flex;
    justify-content: center;
}

.span-wrapper:hover {
    cursor:pointer;
    background-color: white;
    border-radius: 10px;
    span {
        color:black;
    }
}
.paginator__pagebar {
    text-align: center;
    border-radius: 10px;
    padding: 10px 0px;
    span {
        margin-right: 10px;
        margin-left: 10px;
        font-family: 'Patrick Hand SC', cursive;
        font-style: normal;
        font-size: 20px;
        color:white;
    }
    button {
        transform: scale(1.2);
        color:white;
        border:none;
        background-color: transparent;
        transition: all .1s ease-in-out;
        margin: 0px 10px;
    }
    button:hover {
        transform: scale(1.4)
    }
}

.selectedPage {
    text-decoration: underline;
}
.mainpage__slider {
    margin-bottom: 100px;
}
footer {
    margin-top: 50px;
    padding: 30px 0px 30px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.356);
    div {
        display: flex;
        justify-content: flex-end;
    }
    .site-link {
        color: rgb(230, 184, 220);
        font-weight: bold;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }
    ul {
       padding-left: 50px;
    }
    li {
        padding-bottom: 5px;
    }
    a {
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    a:hover {
        color:rgb(127, 193, 255);
    }
}
img[alt='avatar'] {
    width: 150px;
    height: 150px;
}
.profile {
    margin-bottom: 200px;
    display: flex;
    color: white;
    font-family: 'Roboto', sans-serif;
    p {
        margin-bottom: 10px;
        font-size: 15px;
    }
    form {
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: column;
        }
        input {
            border: white;
        }
    }
}
.profile__photo {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    align-items: flex-end;
    img {
        border-radius: 10px;
        margin-bottom: 10px;
    }
    span{
        font-size: 13px;
    }
    button {
        width: 110px;
    }
    form {
        display: flex;
        align-items: flex-end;
    }
}
input {
    color: black;
}
input[type='file'] {
    width: 115px;
}
.card__rating {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    input[type='radio'] {
        display: none;
    }
    span { 
        font-size: 13px;
        font-weight: bold;
    }
}