//  font-family: 'Patrick Hand SC', cursive;
//  font-family: 'Playball', cursive;
//  font-family: 'Roboto', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #282626;
}
.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}
ul {
    max-width: 1120px;
    
}
li {
    list-style-type: none;
}
html::-webkit-scrollbar {
    width: 10px;
  }

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
@import '_frontpage';
@import '_authpages';
@import '_preloader';
@import '_header';
@import '_mainpage';
@import '_animepage';
@import '_listpage';
@import './../../node_modules/react-awesome-slider/dist/styles.css';
//@import './../../node_modules/react-awesome-slider/src/core/constants.scss';

.awssld {
    --slider-height-percentage: 40%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #2b4a73;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #ffffff2f;
    --control-bullet-active-color: #8a8a8a;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
}
.awssld__bullets button {
    width: 6px;
    height: 6px;
    margin: 5px 10px;
}
.awssld__wrapper {
    border-radius: 20px;
}


@media (max-width: 1140px) {
    .wrapper {
        padding: 15px;
    }
    .mainpage__imagecard {
        img {
            margin: 0px;
            width: 190px;
            height: 270px;
        }
    }
}
@media (max-width: 986px) {
    .mainpage__imagecard {
        img {
            width: 160px;
            height: 240px;
        }
    }
    .entry__description {
        padding-left: 10px;
    }
    .entry__banner {
        img {
            height: 240px;
        }
    }
    .entry__card {
        grid-template-columns: repeat(4, 1fr);
    }
    .entry__actor {
        padding: 10px;
    }
    .frontpage__intro {
        img {
            width: 500px;
        }
    }
    .frontpage__title {
        div {
            width:fit-content;
        }
        padding-left: 0;
        h1 {
            font-size: 40px;
        }
        h3 {
            font-size: 30px;
        }
    }
}
@media (max-width: 835px) {
    .mainpage__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mainpage__imagecard {
        margin-right: 10px;
        width: 200px;
        height: 350px;
        img {
            width: 190px;
            height: 270px;
        }
    }
    .header__option {
        margin-right: 50px;
    }
    .entry__video {
        width: 550px;
    }
    .entry__banner {
        img {
            height: 220px;
        }
    }
    .frontpage__intro {
        img {
            margin-top: 50px;
            width: 400px;
        }
    }
}
@media (max-width: 680px) {
    .listpage__filter {
        display: flex;
        flex-wrap: wrap;
    }
    .mainpage__card {
        grid-template-columns: repeat(3, 1fr);
    }
    .search__form {
        input {
            width: 150px;
        }
    }
    header {
        margin-bottom: 70px;
        flex-wrap:wrap;
    }
    img[alt='logo'] {
        width: 200px;
    }
    .entry__card {
        grid-template-columns: repeat(3, 1fr);
    }
    .entry__video {
        width: 400px;
    }
    .entry__banner {
        img {
            height: 200px;
        }
    }
    .card__right {
        p {
            display: none;
        }
    }
    .frontpage__intro {
        img {
            width: 300px;
        }
    }
    .frontpage__title {
        h1 {
            padding-top: 70px;
        }
    }
    .login__wrapper, .signup__wrapper {
        margin-top: 150px;
    }
}
@media (max-width: 538px) {
    header {
        justify-content: center;
    }
    .search__form {
        input {
            width: 200px;
        }
    }
    img[alt='logo'] {
        width: 200px;
        margin-bottom: 20px;
    }
    footer {
        div {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            ul {
                width: 200px;
                padding-left: 0;
                margin-bottom: 40px;
                text-align: center;
            }
        }
    }
    .entry__block {
        grid-template-columns: 1fr;
    }
    .entry__video {
        width: 400px;
        
    }
    .entry__banner {
        img {
            height: 150px;
        }
    }
    .filterbutton {
        width: 100%;
        text-align: center;
    }
    .listPage__filterimg {
        display: none;
    }
    .filterbutton {
        margin-right: 0;
    }
    .frontpage__intro {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img {
            margin-top: 0;
        }
    }
    .frontpage__title {
        padding-bottom: 40px;
        h1 {
            padding-top: 0;
        }
        h3 {
            width: 265px;
        }
    }
    .frontpage__auth {
        justify-content: center;
    }

}
@media (max-width: 454px) {
    .entry__banner {
        display: none;
    }
    .mainpage__slider {
        display: none;
    }
    .mainpage__imagecard {
        width: 150px;
        height: 320px;
        img {
            width: 140px;
            height: 220px;
        }
    }
    .entry__video {
        width: 350px;
    }
    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card__left {
        text-align: center;
        padding-right: 0;
    }
    .card__right {
        text-align: center;
        padding-top: 20px;
    }
    .status {
        span {
            top: -355px;
            right: 85px;
        }
    }
    .card__image {
        span {
            left: 35px;
        }
    }
    .frontpage__auth {
        button {
            width: 120px;
            font-size: 15px;
        }
    }

}

@media (max-width: 360px) {
    .mainpage__imagecard {
        width: 130px;
        height: 280px;
        img {
            width: 120px;
            height: 180px;
        }
    }
    .search__form {
        margin-bottom: 20px;
        input {
            width: 200px;
        }
    }
    .header__options {
        width: 200px;
    }
    .header__option {
        margin-right: 90px;
    }
    .header__right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .paginator__pagebar {
        span {
            margin-right: 5px;
        }
    }
    .entry__video {
        width: 300px;
    }
    .entry__card {
        grid-template-columns: repeat(2, 1fr);
    }
    .card__rating {
        div {
            label {
                svg {
                    width: 22px;
                }
                
            }
        }
    }
    .profile {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile__photo {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .profile__info {
        justify-content: flex-end;
    }
}