//  font-family: 'Patrick Hand SC', cursive;
//  font-family: 'Playball', cursive;
//  font-family: 'Roboto', sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #282626;
}
.wrapper {
    width: 1120px;
    margin: 0 auto;
}
ul {
    max-width: 1120px;
    
}
li {
    list-style-type: none;
}
html::-webkit-scrollbar {
    width: 10px;
  }

html::-webkit-scrollbar-track {
    background: rgb(179, 177, 177);
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);
    border-radius: 10px;
  }

html::-webkit-scrollbar-thumb:active {
    background: rgb(68, 68, 68);
    border-radius: 10px;
  }
@import '_frontpage';
@import '_authpages';
@import '_preloader';
@import '_header';
@import '_mainpage';
@import '_animepage';
@import '_listpage';
@import './../../node_modules/react-awesome-slider/dist/styles.css';
//@import './../../node_modules/react-awesome-slider/src/core/constants.scss';

.awssld {
    --slider-height-percentage: 40%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #2b4a73;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #ffffff2f;
    --control-bullet-active-color: #8a8a8a;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
}
.awssld__bullets button {
    width: 6px;
    height: 6px;
    margin: 5px 10px;
}
.awssld__wrapper {
    border-radius: 20px;
}